@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

}

body{
   
    background-color:  #ebe5c5;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}



header{
    background-image: linear-gradient(to bottom,#2fa866, #063d1e);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header> h1{
   color: white;
   font-family: 'Bebas Neue', cursive;
   margin-bottom: 20px;
   font-size: 3em;
   text-shadow: 2px 2px 0px rgb(0, 0, 0.267);
    font-weight: normal;
}

header > p{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px (0, 0, 0, 0.315);
}

nav{
    background-color: #063d1e;
    padding: 10px;
    box-shadow: 0px 7px 7px (0, 0, 0, 0, 192);
}

nav > a{
    color: #83e1ad;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold; 
    transition-duration: 0.3s;   
}

nav > a:hover{
    background-color: #2fa866;
    color: #063d1e;

}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.video{
    background-color: #063d1e;
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


main h1{
    color:#063d1e;
    font-family: 'android', cursive;
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    color: #1a5c37;
    font-size: 1.3em;
    background-image: linear-gradient(to right, #83e1ad);
    padding: 8px;
    font-family: 'android', cursive;
    font-weight: normal;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;

}

main strong{
    color: #1a5c37;
    font-weight: bolder;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #063d1e;
    background-color: #83e1ad;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: #1a5c37;
}

main img{
    width: 100%;
}

aside{
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
}


aside > ul{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px (0, 0, 0, 0.281);

}

footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #83e1ad;
    }